.registerpagemain{
    background-color: #f5f5f5;
    color: #000;
    width: 100vw ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registerform{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: aqua;
    padding: 4vh;
    border-radius: 10px;
    align-items: flex-start;
    border: 1px solid #00000074;
}
.registerform label{
    font-weight: bold;
}